* {
    box-sizing: border-box;
  }
  
  body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
  }
  
  .background {
    background: url('https://images.unsplash.com/photo-1556745757-8d76bdb6984b')
      no-repeat center center/cover;
    position: absolute;
    top: -20px;
    bottom: -20px;
    left: -20px;
    right: -20px;
    z-index: -1;
    filter: blur(20px);
  }

  .hover-button:hover {
    transform: scale(1.1); /* Scale the button by 10% on hover */
    transition: transform 0.2s ease-in-out; /* Add a smooth transition */
  }

  /* CSS for highlighting text fields on hover */
  input:hover {
    border: 1px solid #666; /* Dark grey border on hover */
  }

 