
{% extends "cAdmin/baseUI.html" %}
{% load static %}
{% block body %}

<style>
    .btn {
    appearance: none;
    -webkit-appearance: none;
    font-family: popins, sans-serif;
    cursor: pointer;
    padding: 12px;
    min-width: 100px;
    border: 0px;
    -webkit-transition: background-color 100ms linear;
    -ms-transition: background-color 100ms linear;
    transition: background-color 100ms linear;
    float: Right;
    box-shadow: 5px 5px 5px 1px grey;
  }

  .register {
  text-align: center;
  background: #3C91E6;
  color:white;
  padding: 8px;
  outline:none;
  font-family: poppins, sans-serif;
  cursor:pointer;
  border:none;
  transition: background 0.3s ease;
  box-shadow:3px 3px 3px 1px grey; 
}

.register:hover{
  background: #bbd9f6; 
}


.back{
  text-align: center;
  background: red;
  color:white;
  padding: 8px;
  outline:none;
  font-family: poppins, sans-serif;
  cursor:pointer;
  border:none;
  transition: background 0.3s ease;
  box-shadow:3px 3px 3px 1px grey; 
  margin-left:20px;
}

.back:hover {
  background: #ff9999; 
}

#id_companyName,
#id_companyCntry,
#id_companyCntct,
#id_companymobs,
#id_companyMail,
#id_companyCode{
  width: 200px; 
  height: 30px; 
  border: 1px solid #ccc; 
  border-radius: 5px;
  padding: 5px; 
  outline: none; 
  font-family: poppins, sans-serif;
}

#id_is_active  {
  width: 200px; 
  height: 19px; 
  border: 1px solid #ccc; 
  border-radius: 5px;
  padding: 5px; 
  outline: none; 
  font-family: poppins, sans-serif;
  margin-left: -82px;
}

#id_companyName:hover,
#id_companyCntry :hover,
#id_companyCntct:hover,
#id_companymobs:hover,
#id_companyMail:hover,
#id_companyCode:hover,
#id_is_active:hover,
#id_companyAddr:hover {
  border-color: #999; 
}

#id_companyAddr{
  width: 450px; 
  height: 110px; 
  font-family: poppins, sans-serif;
  border: 1px solid #ccc; 
  border-radius: 5px;
  padding: 5px; 
  outline: none; 
  resize: none; 
}



    </style>

<div class="table-data">
    <div class="order">
        <div class="head" > 
             <span style="color:#800080; font-weight:bold; font-size: 1.2rem;"> ADD COMPANY</span>
              <div class="back-btn" onclick="goBack()">
                  <div class="back-btn-inner">
                      <img src="{% static 'images/back-btn-arrw.png' %}" title="Click to go back" alt="back-button-logo">
                  </div>
              </div>

        </div> <hr>
         <table id="table-datas">
            <form method="POST" action="" onsubmit="javascript: return  company_validation();">
                {% csrf_token %}
                <tbody>
           <tr><td>Company Name</td><td>{{ form.companyName}}</td></tr>
           <tr><td>Address </td><td>{{ form.companyAddr}}</td></tr>
           <tr><td>Country</td><td>{{ form.companyCntry}}</td></tr>
           <tr><td>Contact</td><td>{{ form.companyCntct}}</td></tr>
           <tr><td> Alternate Contact </td><td>{{ form.companymobs}}</td></tr>
           <tr><td>Email</td><td>{{ form.companyMail}}</td></tr>
           <tr><td>Company Code </td><td>{{ form.companyCode}}</td></tr>
           <tr><td>Activate</td><td>{{ form.is_active}}</td></tr>


           <tr><td><button type="submit" class="btn register" >Register</button><button type="submit" onclick="goBack()" class="btn back"  >Cancel</button</td></tr>
           </form>

<!-- check this later -->
        </div>     
        </tbody>

    </table>


</div>



<script>
{% if form.errors %}

{% for field, error_list in form.errors.items %}
    {% for error in error_list %}
      {% if field == 'companyCode' %}
        alert("Company with company code already exists.");
        {%endif%}
      {% if field == 'companyCntct' %}
        alert("{{error}}");
       {%endif%} 
      {% if field == 'companyMail' %}
        alert("{{error}}");
       {%endif%} 
      {% if field == 'companymobs' %}
        alert("{{error}}");
      {%endif%}


    {% endfor %}
{% endfor %}

{% endif %}
document.getElementById('main-head').style.display ='none';
 function company_validation(){

  var contact = document.getElementById('id_companyCntct');
  var alt_contact = document.getElementById('id_companymobs');
  var compan_code = document.getElementById('id_companyCode');
  const mobileNumberRegex = /^\+?[0-9]{10,15}$/;


  if (!mobileNumberRegex.test(contact.value)){
    alert('Mobile number should be in correct format,Please add valid country code also!');
    return false;
  }
  if(!mobileNumberRegex.test(alt_contact.value)){
    alert('Alternate mobile number should be in correct format,,Please add valid country code also!');
    return false;
  }
  if(contact.value === alt_contact.value){
    alert('Primary and secondary contacts should not be same.');
    return false;
  }

  

 }



   function goBack() {
  window.history.back();
   }
  </script>

{%endblock%}

