<!DOCTYPE html>
{% load static %}
<html lang="en">
  
  <head>  

    <meta charset="UTF-8" />
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0" /> -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/1.8.11/tailwind.min.css"
      integrity="sha512-KO1h5ynYuqsFuEicc7DmOQc+S9m2xiCKYlC3zcZCSEw0RGDsxcMnppRaMZnb0DdzTDPaW22ID/gAGCZ9i+RT/w=="
      crossorigin="anonymous"
    />
    <link rel="stylesheet" type="text/css" href="{% static 'index.css' %}" >
   
    <title>Admin Login Page</title>
  
  </head>
  <body>
    
    <form action="{% url 'admin_login' %}" method="POST" id="loginForm">
      {% csrf_token %}
    <div class="background" id="background"></div>
    <div class="bg-white rounded p-20 text-center shadow-md">
     <pre> <h1 class="text-3xl">       Admin Login        </h1></pre>
      <div class="my-4 text-left">
        <label for="username" class="text-gray-900">Username</label>
        <input
          type="text"
          id="username"
          class="border block w-full p-1 mt-1 rounded"
          name="username"
          placeholder="Enter  username"
          onkeydown="if(event.key === 'Enter') { event.preventDefault(); document.getElementById('password').focus(); }"

          
        />
      </div>

      <div class="my-4 text-left">
        <label for="password" class="text-gray-900">Password:</label>
        <input
          type="password"
          class="border block w-full p-1 mt-1 rounded"
          name="password"
          id="password"
          placeholder="Enter Password"
          autocomplete="current-password"
          onkeydown="if(event.key === 'Enter') { event.preventDefault(); document.getElementById('loginForm').submit(); }"

        />
      </div>
    </form>
      <div class="my-4 text-left">
        {% if flag == 1 %}
        <label color:'blue'  for="email" class="text-gray-900">Username or password does not match</label>
        {% elif flag == 2 %}
        <label color:'blue'  for="email" class="text-gray-900">Deactivated by the Admin</label>
        {% endif %}
      </div>
      
<button
        class="bg-black text-white py-2 mt-2 inline-block w-full rounded hover-button"
        type="submit">
         Login  
      </button>
    </div>
    

  </body>
 
</html>