/* Styling the main containerchat */
.containerchat {
    display: none;
    position: absolute;
    top: 50%;
    left: 80%;
    transform: translate(-50%, -50%);
    width: 31%;
    margin: auto;
    margin-top: 2rem;
    letter-spacing: 0.5px;
    height: 80%;
    background-color: #dae6f1;
    z-index: 2;
    
}
.ticket-no {
    text-align: center; /* Center-align the text */
	color: #FFFFFF;
}

.issue-title {
    white-space: nowrap; /* Prevent text from wrapping to the next line */
}

/* Styling the msg-header containerchat */
.msg-header {
    border: 1px solid #ccc;
    width: 100%;
    height: 8%;
    border-bottom: none;
    display: inline-block;
    background-color: #3C91E6;
    margin: 0;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.container1 {
    width: 270px;
    height: auto;
    float: left;
    margin: 0;
}

/* Styling user-name */
.active1 {
    width: 150px;
    float: left;
    color: black;
    font-weight: bold;
    margin: 0 0 0 5px;
    height: 10%;
}

/* Styling the inbox */
.chat-page {
    padding: 0 0 50px 0;
}

.profile-info {
  display: inline-block;
  position: relative; /* Add this line to enable positioning */
}

.profile-pic img {
  display: inline-block;
  vertical-align: bottom; 
  margin-left: 0px;
}

.user-name {
  display: inline-block;
  vertical-align: middle;
  margin-left: 10px; /* Adjust the margin as needed */
}




.msg-inbox {
    border: 1px solid #ccc;
    overflow: hidden;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.chats {
    padding: 30px 15px 0 25px;
}

.msg-page {
    max-height: 450px;
    overflow-y: auto;
    background-color: #dae6f1;
}

/* Styling the msg-bottom containerchat */
.msg-bottom {
    border-top: 1px solid #ccc;
    position: relative;
    height: 11%;
    background-color: #3C91E6;
	
}

/* Styling the input field */
.input-group {
    float: right;
    margin-top: 13px;
    margin-right: 30px;
    outline: none !important;
    border-radius: 20px;
    width: 61% !important;
    background-color: #dae6f1;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    
}

.input-group > .form-control {
    position: relative;
    flex: 1 1 auto;
    width: 1%;
    margin-bottom: 0;
    background-color: #dae6f1;
}

.form-control {
    border: none !important;
    border-radius: 20px !important;
    display: block;
    height: calc(2.25rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-clip: padding-box;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.input-group-text {
    background: transparent !important;
    border: none !important;
    display: flex;
    align-items: center;
    padding: 0.375rem 0.75rem;
    margin-bottom: 0;
    font-size: 1.5rem;
    font-weight: bold;
    line-height: 1.5;
    color: #495057;
    text-align: center;
    white-space: nowrap;
    background-color: #e9ecef;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    font-weight: bold !important;
    cursor: pointer;
}

input:focus {
    outline: none;
    border: none !important;
    box-shadow: none !important;
}

/* Styling the avatar */
.received-chats-img {
    display: inline-block;
    width: 50px;
    float: left;
}

.received-msg {
    display: inline-block;
    padding: 0 0 0 10px;
    vertical-align: top;
    width: 92%;
}

.received-msg-inbox {
    width: 57%;
}

.received-msg-inbox p {
    background: #efefef none repeat scroll 0 0;
    border-radius: 10px;
    color: #646464;
    font-size: 14px;
    margin-left: 0rem;
    padding: 1rem;
    width: 100%;
    box-shadow: rgb(0 0 0 / 25%) 0px 5px 5px 2px;
}

p {
    overflow-wrap: break-word;
}

/* Styling the msg-sent time */
.time {
    color: #777;
    display: block;
    font-size: 12px;
    margin: 8px 0 0;
}

.outgoing-chats {
    overflow: hidden;
    margin: 26px 20px;
}

.outgoing-chats-msg p {
    background-color: #3C91E6; /* Change the color to blue here */
    color: white;
    border-radius: 10px;
    font-size: 14px;
    padding: 5px 10px 5px 12px;
    width: 93%;
    padding: 1rem;
    box-shadow: rgb(0 0 0 / 25%) 0px 2px 5px 2px;
}

.outgoing-chats-msg {
    float: right;
    width: calc(100% - 50px); /* Adjust the width as needed */
}

/* Styling the avatar */
.outgoing-chats-img {
    display: inline-block;
    width: 50px;
    float: right;
    margin-right: 1rem;
}

.send-button {
    appearance: none;
    -webkit-appearance: none;
    font-family: sans-serif;
    cursor: pointer;
    padding: 5px 20px; /* Decrease the padding */
    border: none; 
    background-color:  #ffffff;
    color: #3399ff;
    font-size: 14px;
    transition: transform 0.3s;
    margin-right: 0px;
    font-weight: bold;
    border-radius: 20px; /* Add border radius */
}

.send-button:hover {
    background-color: transparent; /* Remove background color on hover */
    color: #3399ff;
    font-size: 16px; /* Increase text size on hover */
}


.attachment-icon img {
  width: 30px;
  height: 30px;
  margin-top: 5px;
  cursor: pointer;
  margin-right: 5px;
}

